@{
    ViewBag.Title = "Weather forecast viewer";
}

@section scripts
{
    <script>
        $(function () {
          
            var hub = $.connection.forecastHub;
            $.connection.hub.start();

            var model = {
                forecasts: ko.observableArray()
            };
  
            hub.client.display = function (array) {
                updateObservable(model.forecasts, array);
            };
            
            ko.applyBindings(model);
        });
    </script>
}

<h1>Weather forecast viewer</h1>
@Html.ActionLink("Generator", "GenerateForecast", null, new { target = "_blank" })

<ul data-bind="foreach: forecasts">
    <li>
        <span data-bind="text: getDateStr(date)"></span>
        <span data-bind="text: '+' + temperature() + '&deg;'"></span>
    </li> 
</ul>